<div class="container-fluid">
  <div class="row">
    <div *ngIf="isSmall() == true" class="col-md-4">
      <div *ngFor="let card of getCards(); let i = index">
        <div class="card mb-3">
          <h5 class="card-header">Card {{ i+1 }}</h5>
          <div class="card-body">
            <p class="card-text">Word: {{ card.word }}</p>
            <p class="card-text">Reading: {{ card.reading }}</p>
            <p class="card-text">Translation: {{ card.translation }}</p>
            <p class="card-text">Review Date: {{ showDueDate(card) }}</p>
            <button
              type="button"
              class="btn btn-warning btn-sm mr-3"
              [routerLink]="[
                '/form',
                'edit',
                card.id,
                {
                  word: card.word,
                  reading: card.reading,
                  translation: card.translation
                }
              ]"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="deleteCard(card)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isSmall() == false" class="col-md-4">
      <div *ngFor="let card of getCards(); let i = index">
        <div *ngIf="i % 3 == 0">
          <div class="card mb-3">
            <h5 class="card-header">Card {{ i+1 }}</h5>
            <div class="card-body">
              <p class="card-text">Word: {{ card.word }}</p>
              <p class="card-text">Reading: {{ card.reading }}</p>
              <p class="card-text">Translation: {{ card.translation }}</p>
              <p class="card-text">Review Date: {{ showDueDate(card) }}</p>
              <button
                type="button"
                class="btn btn-warning btn-sm mr-3"
                [routerLink]="[
                  '/form',
                  'edit',
                  card.id,
                  {
                    word: card.word,
                    reading: card.reading,
                    translation: card.translation
                  }
                ]"
              >
                Edit
              </button>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="deleteCard(card)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isSmall() == false" class="col-md-4">
      <div *ngFor="let card of getCards(); let i = index">
        <div *ngIf="i % 3 == 1">
          <div class="card mb-3">
            <h5 class="card-header">Card {{ i+1 }}</h5>
            <div class="card-body">
              <p class="card-text">Word: {{ card.word }}</p>
              <p class="card-text">Reading: {{ card.reading }}</p>
              <p class="card-text">Translation: {{ card.translation }}</p>
              <p class="card-text">Review Date: {{ showDueDate(card) }}</p>
              <button
                type="button"
                class="btn btn-warning btn-sm mr-3"
                [routerLink]="[
                  '/form',
                  'edit',
                  card.id,
                  {
                    word: card.word,
                    reading: card.reading,
                    translation: card.translation
                  }
                ]"
              >
                Edit
              </button>
              <button
                type="button"
                (click)="deleteCard(card)"
                class="btn btn-danger btn-sm"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isSmall() == false" class="col-md-4">
      <div *ngFor="let card of getCards(); let i = index">
        <div *ngIf="i % 3 == 2">
          <div class="card mb-3">
            <h5 class="card-header">Card {{ i+1 }}</h5>
            <div class="card-body">
              <p class="card-text">Word: {{ card.word }}</p>
              <p class="card-text">Reading: {{ card.reading }}</p>
              <p class="card-text">Translation: {{ card.translation }}</p>
              <p class="card-text">Review Date: {{ showDueDate(card) }}</p>
              <button
                class="btn btn-warning btn-sm mr-3"
                [routerLink]="[
                  '/form',
                  'edit',
                  card.id,
                  {
                    word: card.word,
                    reading: card.reading,
                    translation: card.translation
                  }
                ]"
              >
                Edit
              </button>
              <button
                type="button"
                (click)="deleteCard(card)"
                class="btn btn-danger btn-sm"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--row ends-->
  </div>
</div>
