<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <a href="" class="btn btn-primary">Homepage</a>
    </div>
    <div class="offset-md-4 col-md-4 col-12">
      <div *ngIf="flashcards == null" class="card">
        <h5 class="card-header">Card is not found, maybe the API is down</h5>

        <a href="#"  class="btn btn-primary" (click)="getFlashcards()">Translation</a>
      </div>
      <div *ngIf="flashcards != null" class="card">
        <div *ngIf="reviewDone">
          <h5 class="card-header">
            Card review is finished.
          </h5>
          <a class="btn btn-primary" (click)="restartReview()">Restart review</a>
        </div>
        <div *ngIf="!reviewDone">
          <h5 class="card-header">
            Click button to flip card for English Translation
          </h5>
          <div class="card-body">
            <p class="card-text">Japanese Word: {{ flashcards[index].word }}</p>
            <button *ngIf="!flip" class="btn btn-primary"(click)="flipCard()">Get Translation</button>
            <span *ngIf="flip" class="card-text">{{
              flashcards[index].translation
            }}</span>
            <br /><br />
            <button class="btn btn-primary" (click)="nextCard()">Next card</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>