<main role="main" class="inner cover">
  <p class="lead text-center">
    This app is for learning Japanese by using flashcards.
  </p>

  <div class="container-fluid">
    <div class="row">
      <div class = "col-12 col-md-4 offset-md-4 text-center">
        <p class="lead">This app has two modes:</p>
        <p class="lead">
          All Review Mode will let you review all of the cards in the deck without
          spaced repetition. Spaced Repetition Mode will let you review all the cards
          that are due today. Due dates are calculated based off of ratings (1-5) that
          judge how easy/hard the card is.
        </p>     
      </div>
      <div
        class="col-6 col-md-3 offset-md-3 text-center"
        style="border: 1px solid red;">
        <a href="/sched-review" class="btn btn-lg btn-primary"
        >Review Scheduled Cards</a> 
      </div>
      <div class="col-6 col-md-3 text-center" style="border: 1px solid red;">
        <a  href="/all-review" class="btn btn-lg btn-primary"
        >Review All Cards</a
      >
      </div>
    </div>
  </div>
</main>
