<div class="container-fluid">
  <div class="row">
    <div class=" card-header offset-md-4 col-md-4 col-12">
  <form novalidate (ngSubmit)="addCard(flashcard)">
    <div class="form-group">
      <label>Word/Phrase</label
      ><input
        class="form-control"
        [(ngModel)]="flashcard.word"
        name="word"
        required
        #word="ngModel"
      />
      <ul class="text-danger list-unstyled" *ngIf="word.dirty && word.invalid">
        <li *ngIf="word.errors.required">You must enter a word/phrase</li>
      </ul>
    </div>
    <div class="form-group">
      <label>Reading</label
      ><input
        class="form-control"
        [(ngModel)]="flashcard.reading"
        name="reading"
        #reading="ngModel"
        required
      />
      <ul
        class="text-danger list-unstyled"
        *ngIf="reading.dirty && reading.invalid"
      >
        <li *ngIf="reading.errors.required">
          You must enter a reading
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label>Translation</label
      ><input
        class="form-control"
        [(ngModel)]="flashcard.translation"
        name="translation"
        #translation="ngModel"
        required
      />
      <ul
        class="text-danger list-unstyled"
        *ngIf="translation.dirty && translation.invalid"
      >
        <li *ngIf="translation.errors.required">
          You must enter a translation
        </li>
      </ul>
    </div>
    <button class="btn btn-primary btn-sm mr-3" type="submit">{{editing == true ? "save" : "create card"}}</button>
  </form>
</div>
</div>
</div>